body{
    width: 100%;
}
header{
  
    margin: auto;
    background-color: grey;
    width: 100%;
    display: inline-block;
}
header div{
    width: 960px;
    margin: auto;
    padding: 10px;
}
header img{
    float: left;
    width: 200px;
    height: 70px;
    
}
/* header ul{
    display: inline-block;
} */
header li {
    display: inline-flex;
    /* height: 70px; */
    clear: both;
    vertical-align: middle;
    text-align: center;
    margin: 0px 25px
}
header ul a{
    color: #ffffff;
    text-decoration: none;
    padding: 28px
}
main{
    width: 960px;
    margin: auto;
}
main img {
    margin: 20px auto;
    clear: both;
    display: block;
    
    width: 100%;
}
div {
    display: flex;
    clear: both;
}
main div img{
    width: 300px;
    margin: 0px auto;
}
main div img:first-of-type{
    margin: 0px auto 0px 0px;
}
main div img:last-of-type{
    margin: 0px 0px 0px auto;
}
main div:last-of-type{
    margin: 20px auto;
}
main div:last-of-type img{
    float: left;
    width: 50%;
    height: 240px;
    margin: 0px 20px 0px 0px;
}
main article {
    overflow: scroll;
    font-family: sans-serif;
    font-weight: 600;
    height: 192px;
}
main article p{
    font-style: italic;
    font-size: 15px;
}
main div:last-of-type div{
    display: block;
    height: 240px;
    margin: 0px;
}
h3{
    font-size: 20px;
}
main div:last-of-type div > p{
    background-color: black;
    padding: 10px 30px;
    color: beige;
    width: 83px;
    border-radius: 3px;
    margin: 10px 0;
    

}
footer{
    height: 300px;
    background-color: grey;
}